# Здесь содержатся настройки php для данного проекта
# Это конечно же, комментарий

# Разрешить уменьшенную форму записи php-блока <? ?>

php_flag short_open_tag on

# Запретить уменьшенную форму записи php-блока <? ?>

php_flag short_open_tag off

AddDefaultCharset UTF8